.menuContainer {
  width: fit-content;
  display: flex;
  align-items: center;
}

.hamburger {
  font-size: 1.5rem;
  color: #152055;
  cursor: pointer;
}
.cross {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.navItemTypo {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.sidenav {
  box-sizing: border-box;
  width: 350px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -350px;
  background-color: #152055;
  overflow-x: hidden;
  transition: right 600ms ease;
  padding: 12px;
}
.sideMainMenu {
  color: white;
}
.sideMainMenu:hover {
  font-weight: 300;
}

.navItem {
  text-transform: uppercase;
  text-align: left;
  position: relative;
  padding-top: 15px;
  margin-bottom: 10px;
}

.dropdownContent {
  display: block; /* Change to block to control height */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.6s ease-out;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
  border-radius: 15px;
}

.navItem:hover .dropdownContent {
  max-height: 300px;
  opacity: 1;
  padding: 12px 16px;
  margin-top: 10px;
}
.sidenav.open {
  right: 0;
}
.sideSubMenu {
  font-size: 1rem;
  font-family: Inter, sans-serif;
  padding: 10px 8px;
  color: #152055;
  line-height: 1.25rem;
  transition: background-color 0.3s ease;
}
.sideSubMenu:hover {
  background-color: #c0ffe6;
  border-radius: 10px;
}

/* Top Nav Bar */

@media screen and (max-width: 992px) {
  .navContainer {
    padding: 0px 20px 0px 20px;
  }
  .menuContainer {
    display: none;
  }
  .mobileNav {
    display: block;
  }
}
