.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
}

/* Main menu item */
.menuItem {
  position: relative;
  z-index: 999;
}

/* Main menu link */
.navLink {
  padding: 10px 15px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #152055;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 800ms ease;
}

.navLink:hover {
  background-color: #cfffec;
  font-weight: 500;
}

.menuItem:hover .navLink {
  background-color: #c0ffe6;
}

.submenu {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 300px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
  padding: 20px 10px;
  border-radius: 15px;
}

.menuItem:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenuLink {
  width: 100%;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  display: block;
  padding: 15px 10px;
  font-size: 16px;
  color: #152055;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.submenuLink:hover {
  background-color: #c0ffe6;
}

.arrowIcon {
  margin-left: 5px;
}
.active {
  background-color: #c0ffe6;
}
