.logoContainer {
  text-align: center;
}
.navbarContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  border-top: 1px solid #223160;
  border-bottom: 1px solid #223160;
}
.navbarItems {
  position: relative;
  color: #223160;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 10px;
  border-right: 1px solid #223160;
}
.navbarTypo {
  padding: 2px 10px;
  cursor: pointer;
}
.navbarTypoContainer::after {
  display: block;
  content: "";
  border-bottom: solid 2px tomato;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbarTypoContainer:hover::after {
  transform: scaleX(1);
}

.open {
  display: block;
}
.close {
  display: none;
}
.submenuContainer {
  position: absolute; /* Overlay on the page */
  top: 100%; /* Position it directly below the main menu */
  left: 50%; /* Align with the left edge of the parent item */
  transform: translateX(-50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 250px;
  z-index: 999;
  transition: opacity 1s ease, visibility 1s ease;
  padding: 20px 10px;
  border-radius: 15px;
}
.submenuItems {
  width: 100%;
  box-sizing: border-box;
  display: block;
  padding: 8px 10px;
  font-size: 16px;
  color: #223160;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}
.submenuItems:hover {
  background-color: #a1e9ff;
}

.active {
  border-bottom: solid 2px tomato;
}
